*~
.swp
.*.swp
.swp
.gwt
.gwt-tmp
metastore_db
target
bin
lib
.classpath
.externalToolBuilders
.project
.settings
.springBeans
.DS_Store
build.properties
*.log
*.iml
*.iws
*.ipr
.launch
.*launch
nb-configuration.xml
.idea
SiddhiHive.iml
